{% extends "index.html" %}

{% block head %}
    <style>
        .status-error {
            color: red;
        }
        .status-success {
            color: green;
        }
    </style>
{% endblock head %}


{% block content %}

{% include "slagui/agreements_template.html" %}

{% endblock content %}

{% block end %}
    <script>
        $(document).ready(function() {
            $(".status-success").addClass("icon-ok-sign").attr("title", "Fulfilled")
            $(".status-error").addClass("icon-remove-sign").attr("title", "Violated")
            $(".status-non-determined").addClass("icon-exclamation-sign").attr("title", "Non determined")

            $(".icon-plus, .icon-minus").click(function(){ $(this).toggleClass("icon-plus icon-minus")});
            console.log("ready")
        });
    </script>
{% endblock end %}
